/* info nastaveni */


* {
    box-sizing: border-box;
  }

  .center {
    font: 120%/1.5 system-ui, sans-serif;
    background: linear-gradient(to top left, rgb(109, 0, 233), rgb(129, 1, 214), rgb(255, 0, 170));
    color: rgb(255, 255, 255);
    margin: 0;
    display: grid;
    place-items: center;
    padding: 2rem;
    min-height: 300px
  }

  main {
    max-width: 350px;
  }

  a {
    color: #ffffff;
  }

  p {
    opacity: 0;
    border: white .2em solid;
    border-radius: .4em;
    padding: .25em 1em;
    background-color: rgb(22, 23, 24);
    box-shadow: 1vh 1vh .5em rgba(255, 255, 255, 0.418), inset .5vh .5vh .5em rgba(255, 255, 255, 0.418);
    opacity: 0;
    animation-name: slidein;
    animation-duration: .7s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    white-space:normal;

    /* filter:blur(2px); */
  }

  .h1{
    opacity: 0;
    animation-name: slidein;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    white-space:normal;
    text-shadow: .5vh .5vh .5vh rgb(255, 0, 242);
  }

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%;
    width: 100%;
  }
  
  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes neon {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

